@font-face {
    font-family: FTROUNDA;
    src: url(./FONT/FTROUNDA.TTF) format("truetype");
}

@font-face {
    font-family: INDUSTRIAL ;
    src: url(./FONT/babylon-industrial-2.TTF);
}
@font-face {
    font-family: ROLAND;
    src: url(./FONT/RollandinEmilie.ttf);
}
@font-face {
    font-family: PAINT;
    src: url(./FONT/vtks\ ragwaris.ttf);
}
@font-face {
    font-family: ARBELOIDES;
    src: url(./FONT/lynx.ttf);
}
@font-face {
    font-family: METAL;
    src: url(./FONT/MessingLettern.ttf);
}
@font-face {
    font-family: NOVA;
    src: url(./FONT/NovaRound-Book.ttf);
}
@font-face {
    font-family: BISKIT;
    src: url(./FONT/Biysk.ttf);
}
@font-face {
    font-family: NAUTICA;
    src: url(./FONT/NauticaRounded-Regular.ttf);
}
@font-face {
    font-family: ASTON;
    src: url(./FONT/Astonpoliz.ttf);
}
@mixin greyscale {
    filter: grayscale(100%);
}
@mixin sepia {
    filter: sepia(100%);
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
*{
    font-family: ASTON;
    font-size: 13px;
}

$color1: #152231;
$color2: #2b3f54;
$color3: #456384;
$color4: #ff59bf;
$color5: #83f9ff;
$color6: #fff;
$color7: #49f543;
$color8:red;

$var1: 100%;
$var2: 50%;

$ancho1: 1200px;
$ancho2: 320px;

$alto1: 200px;

$artype: chainmail;

body{
    font-family: ASTON;
    padding-top: 125px;
}



.navbar{
    background-color: #152231;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-collapse.collapse.show{
    padding-bottom: 15px;
}

.navbar-brand{
    font-family: FTROUNDA !important;
    color: #fff !important;
    font-size: 80px;
    padding-top: 5px !important;
    padding-bottom: 0px !important;
    margin-left: 50px;
}

@media (max-width: 800px) {
    .navbar-brand {
        margin-left: 30px;
}
}

a.navbar-brand:hover{
    color: $color4 !important;
}

.nav-link{
    color: $color6 !important ;
}

.nav-link:hover{
    color: $color4 !important;
}

.collapse{
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 576px) {
    .navbar-collapse {
        position: absolute;
        top: 120px; 
        right: 0;
        width: 100%;
        background-color: $color1; 
        padding-right: 2rem; 
    }

    .navbar-collapse.collapse.show {
        display: block;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end; 
    }
}

.rayita{
    height: 2px;
    background-color: $color4;
}

.inicio1 {
    background-image: url(./MULTIMEDIA/seleccion/inicio1.png);
    background-position: center right;
    background-size: cover;
    padding: 50px;
    height: calc(100vh - 125px);
    overflow: hidden; 
}

.inicio1 p {
    font-size: 30px;
    margin-left: 20px;
    margin-right: 10px;
    color: $color7;
    text-align: left;
}

.technoware {
    font-family: ASTON;
    margin-left: 8px;
    margin-top: 10px;
    font-size: 100px;
    color: $color4;
}

.animated-element {
    animation: slideIn 2s forwards;
}

@media (max-width: 750px) {
    .inicio1 p {
        font-size: 13px !important;
    }

    .technoware {
        font-size: 35px !important;
    }
}

h2{
    font-family: ASTON;
    font-size: 15px;
    color: $color6 ;
    background-color: $color2;
    padding: 10px;
    // padding-left: 50px; 
    margin-bottom: 0px;  
    text-align: center; 
}

h3{
    color: $color4;
    font-family: ASTON;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.nright{
    align-content: center;
    background-color: $color2;
}

.nright p{
    text-align: center;
    color: $color6;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
}

.contenedor {
    height: 750px;
    width: 100%;
    background-color: $color4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
}

@media (max-width: 800px) {
    .contenedor {
        grid-template-columns: 1fr;
        grid-template-rows: auto;}
}

.item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
    transition: all 0.9s;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
.item6 a {
    text-decoration: none;
}
.item p {
    color: $color6;
    font-size: 30px;
    margin: 0 75px; 
    transition: all 0.9s;
}

.item p:hover {
    font-size: 40px;
}

@for $i from 1 through 3 {
    .item#{$i} {
        background-color: lighten($color4, $i * 5%);
        background-image: url(./MULTIMEDIA/fotosaccesorios/img#{$i}.png);
    }
}

@for $i from 4 through 6 {
    .item#{$i} {
        background-color: lighten($color7, $i * 5%);
        background-image: url(./MULTIMEDIA/fotosaccesorios/img#{$i}.png);
    }
}

.item:hover {
    background-size: 125%;
}

.typebox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 500px) {
    .typebox {
        grid-template-columns: 1fr;
        grid-template-rows: auto;}
}

.foto1{
    background-image: url(./MULTIMEDIA/seleccion/bolt.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.foto1 h4{
    text-align: center;
    color: $color7;
    padding-left: 0px !important;
}

.foto1 i{
    background-color: $color4;
    margin-top: 250px;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 50px;
    color: $color6;
}

.foto2{
    background-image: url(./MULTIMEDIA/seleccion/chainmail.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.foto2 h4{
    text-align: center;
    color: $color7;
    padding-left: 0px !important;
}


.foto2 i{
    background-color: $color4;
    margin-top: 250px;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 50px;
    color: $color6;
}

.foto3{
    background-image: url(./MULTIMEDIA/seleccion/bundle.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.foto3 h4{
    text-align: center;
    color: $color7;
    padding-left: 0px !important;
}

.foto3 i{
    background-color: $color4;
    margin-top: 250px;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 50px;
    color: $color6;
}

h4{
    font-size: 30px;
    padding-top: 20px;
    color: #fff;
    text-align: left;
    padding-left: 35px;
}

/* FOOTER */

footer{
    background-color: $color1;
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    .container-fluid{
    padding: 0px;
}
}
.container-fluid.nosotros{
    padding: 0px;
}
footer{
    padding-top: 20px;
}
footer p{
    font-size: 10px;
}
footer i{
    color: $color6;
    font-size: 25px;
}
footer i:hover{
    color: $color4;
}

.redes a{
    text-decoration: none;
}
/* PDODUCTS */

.ventanas{
    display: flex;
    overflow: hidden;
}
.products{
    font-size: 30px;
    color: $color4;
}
@media (max-width: 500px) {
    .ventanas {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.ventana{
    animation: slideIn 2s forwards;
    overflow: hidden;
}

.carousel-indicators{
    top: 0 !important;
}

.carousel-inner img {
    object-fit: cover;
}

.carousel-inner img{
    filter: grayscale(100%);
    height: 100%;
    object-fit: cover;
}

.carousel-inner img:hover {
    filter: none; 
}

.carousel-container {
    position: relative;
    max-width: 100%;
}

.cart-icon {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    z-index: 10;
}

.cart-icon a {
    color: $color6;
    text-decoration: none;
}

.cart-icon a:hover {
    color: $color4;
}

.fa-solid.fa-cart-shopping{
    font-size: 30px; 
}

.fa-solid.fa-cart-shopping:hover{
    background-color: #ff59bf00 !important;
    color: $color4 !important;
}

.text1{
    height: auto;
    align-content: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: ASTON;
    font-size: 30px;
    color: $color7;
    background-color: #456384;
}

.text1 p{
    margin-bottom: 0px;
    font-size: 25px;
    text-align: center;
}

p.p1{
    font-size: 12px;
    color: $color6;
}

.text2{
    height: auto;
    align-content: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: ASTON;
    font-size: 30px;
    color: $color7;
    background-color: #456384;
}

.text2 p{
    margin-bottom: 0px;
    font-size: 25px;
}

p.p2{
    font-size: 15px;
    padding-right: 40px;
    color: $color6;
}

.text3{
    height: auto;
    align-content: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: ASTON;
    font-size: 30px;
    color: $color7;
    background-color: #456384;
}

.text3 p{
    margin-bottom: 0px;
    font-size: 25px;
}

/* GALERY */

.gallery1{
    font-size: 30px;
    color: $color4;
}
.carousel-item{
    height: 500px;
} 
.galery1{
    background-image: url(./MULTIMEDIA/galery/cocoykevin6.png);
    background-position: center top 50%;
    background-size: cover;
    height:500px;
    width: 100% !important;
}
.galery2{
    background-image: url(./MULTIMEDIA/galery/cocoykevin.png);
    background-position: center bottom 60%;
    background-size: cover;
    height:500px;
    width: 100% !important;
}
.galery3{
    background-image: url(./MULTIMEDIA/galery/cocoykevin2.png);
    background-position: center bottom 65%;
    background-size: cover;
    height:500px;
    width: 100% !important;
}
.galery4{
    background-image: url(./MULTIMEDIA/galery/cocoykevin3.png);
    background-position: center top 10%;
    background-size: cover;
    height:500px;
    width: 100% !important;
}
.galery5{
    background-image: url(./MULTIMEDIA/galery/cocoykevin4.png);
    background-position: center top 47%;
    background-size: cover;
    height:500px;
    width: 100% !important;
}
.galery6{
    background-image: url(./MULTIMEDIA/galery/COCO22.png);
    background-position: center bottom 20%;
    background-size: cover;
    height:500px;
    width: 100% !important;
}
.galery7{
    background-image: url(./MULTIMEDIA/galery/byn8.jpg);
    background-position: center bottom 10%;
    background-size: cover;
    height:500px;
    width: 100% !important;
}
.galery8{
    background-image: url(./MULTIMEDIA/galery/byn7.jpg);
    background-position: center;
    background-size: cover;
    height:500px;
    width: 100% !important;
}
.galery9{
    background-image: url(./MULTIMEDIA/galery/byn6.jpg);
    background-position: center bottom 20%;
    background-size: cover;
    height:500px;
    width: 100% !important;
}
.galery10{
    background-image: url(./MULTIMEDIA/galery/byn4.jpg);
    background-position: center top 80%;
    background-size: cover;
    height:500px;
    width: 100% !important;
}
.galery11{
    background-image: url(./MULTIMEDIA/galery/byn1.jpg);
    background-position: center top 60%;
    background-size: cover;
    height:500px;
    width: 100% !important;
}
.galery12{
    background-image: url(./MULTIMEDIA/galery/byn2.jpg);
    background-position: center bottom 40%;
    background-size: cover;
    height:500px;
    width: 100% !important;
}
/* CONTACT */

.contact1{
    font-size: 30px;
    color: $color4;
    padding: 10px;
    background-color: #2b3f54;
    margin: 0px;
}
form{
    height: 450px;
    align-content: center;
    
    padding-left: 1.5em;
    margin-right: 25px;
}
.form-check-label{
    padding-left: 24px;
}
.form-check-label label{
    padding-left: 50px;
}
.label1{
    padding-left: 0px;
}

/* PURCHASE */

.nleftm1{
    background-image: url(./MULTIMEDIA/seleccion/malon1.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    filter: grayscale(100%);
}

.nleftm2{
    background-image: url(./MULTIMEDIA/seleccion/malon2.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    filter: grayscale(100%);
}

.nleftm3{
    background-image: url(./MULTIMEDIA/seleccion/malon3.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    filter: grayscale(100%);
}

.nleftm4{
    background-image: url(./MULTIMEDIA/seleccion/malon4.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    filter: grayscale(100%);
}

.nleftm5{
    background-image: url(./MULTIMEDIA/seleccion/malon5.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    filter: grayscale(100%);
}

.nleftm6{
    background-image: url(./MULTIMEDIA/seleccion/malon6.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    filter: grayscale(100%);
}
.nleftb1{
    background-image: url(./MULTIMEDIA/seleccion/bundle1.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    filter: grayscale(100%);
}

.nleftb2{
    background-image: url(./MULTIMEDIA/seleccion/bundle2.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    filter: grayscale(100%);
}

.nleftb3{
    background-image: url(./MULTIMEDIA/seleccion/bundle3.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    filter: grayscale(100%);
}

@media (max-width: 750px) {
    .nleftm1 {
        height: 300px;
    }
}

.purchase{
    height: 1450px;
}

@media (max-width: 750px) {
    .purchase {
        height: 1700px;
    }
}

h5{
    font-size: 40px;
    font-family: ASTON;
    color: $color2;
    text-align: left;
    margin-left: 0px;
}
h6{
    font-size: 20px;
    font-family: ASTON;
    color: $color2;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-check .form-check-input{
    margin-left: 8px;
}
.form-check label{
    font-size: 15px;
}

.form-check-input:checked{
    background-color: $color4 !important;
    border-color: $color7;
}
.btn-primary{
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: $color1;
    border-color: $color3;
}
.btn-primary:hover{
    background-color: $color4;
    border-color: $color7;
}



/* FINISH */

h5.thankyou{
    color: #ff59bf;
}
.nright4{
    height: 300px;
    align-content: center;
}

// ABOUT ME

.aboutme1{
    background-image: url(./MULTIMEDIA/INICIO/CHORI.jpg);
    background-position: center bottom 40%;
    background-size: cover;
    height: 500px;
    filter: grayscale(100%);
}
@media (max-width: 1200px){
    .aboutme1{
        height: 500px;
    }
}

.aboutme2{
    height: 500px;
    align-content: center;
}
@media (max-width: 1000px){ 
    .aboutme2{
        height: 800px;
    }
}
.aboutme2 h5{
    color: $color4;
    margin-top: 20px;
    margin-left: 25px;
}
.aboutme2 h6{
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
    font-size: 18px;
}

// CUSTOM

.custom {
    font-family: ASTON;
    font-size: 30px;
    color: $color6;
    background-color: $color2;
    margin-bottom: 0px;  
    text-align: center; 
        h3{
            padding-top: 15px;
            margin-top: 0px;
            text-align: center;
        }
        p{
            margin-top: 25px;
        }
}

.customtx p{
    margin-left: 20px;
    margin-right: 20px;
}

.customshop{
    font-size: 30px;
    background-color: #2b3f54;
    margin: 0px;
}
.customform {
    height: 450px;
    align-content: center;
    padding-left: 0px;
    margin-right: 0px;
}

.patternsbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.patternsbox {
    background-color: $color2; 
    text-align: center; 
    height: 350px;
    margin-bottom: 45px;
}

@media (max-width: 500px) {
    .patternsbox {
        height: 350px;
    }
}


.pattern1{
    h4{
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: $color7;
    }
}

.fotop1{
    background-image: url(./MULTIMEDIA/custom/customm1.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-bottom: 15px;
    filter: grayscale(100%);
}

.fotop1:hover{
    filter: none;
}


.pattern2{
    h4{
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: $color7;
        
    }
}

.fotop2{
    background-image: url(./MULTIMEDIA/custom/customm2.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-bottom: 15px;
    filter: grayscale(100%);
}

.fotop2:hover{
    filter: none;
}


.pattern3{
    h4{
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: $color7;
    }
}

.fotop3{
    background-image: url(./MULTIMEDIA/custom/customm3.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-bottom: 15px;
    filter: grayscale(100%);
}

.fotop3:hover{
    filter: none;
}


.pattern4{
    h4{
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: $color7;
    }
}

.fotop4{
    background-image: url(./MULTIMEDIA/custom/customm4.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-bottom: 15px;
    filter: grayscale(100%);
}

.fotop4:hover{
    filter: none;
}

.pattern5{
    h4{
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: $color7;
    }
}

.fotop5{
    background-image: url(./MULTIMEDIA/custom/customm5.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-bottom: 15px;
    filter: grayscale(100%);
}

.fotop5:hover{
    filter: none;
}


.pattern6{
    h4{
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: $color7;
    }
}

.fotop6{
    background-image: url(./MULTIMEDIA/custom/customm6.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-bottom: 15px;
    filter: grayscale(100%);
}

.fotop6:hover{
    filter: none;
}

.pattern7{
    h4{
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: $color7;
    }
}

.fotop7{
    background-image: url(./MULTIMEDIA/custom/customm7.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-bottom: 15px;
    filter: grayscale(100%);
}

.fotop7:hover{
    filter: none;
}


.pattern8{
    h4{
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: $color7;
    }
}

.fotop8{
    background-image: url(./MULTIMEDIA/custom/customm8.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-bottom: 15px;
    filter: grayscale(100%);
}

.patterns h4{
    margin-bottom: 15px;
}

.customtypes{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 500px) {
    .customtypes {
        grid-template-columns: 1fr;
    }
}

.neckbrace{
    display: grid;
    grid-template-columns: 1fr 1fr;
    h4{
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: $color7;
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

.customlength{
    text-align: center;
    h6{
        margin: 0px;
        color: $color7;
    }
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 1000px) {
    .customlength {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.finishing{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.closings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 15px;
}

.closing1{
    height: 350px;
    h4{
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: $color7;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.fotoc1{
    background-image: url(./MULTIMEDIA/custom/closing2.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    height: 250px;
}

.closing2{
    height: 350px;
    h4{
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: $color7;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.fotoc2{
    background-image: url(./MULTIMEDIA/custom/closing1.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    height: 250px;
}

.explain{
    h6{
        color: $color7;
        size: 15px;
        margin-bottom: 15px;
    }
    .form-control{
        height: 250px;
    }
    padding-right: 50px;
    padding-left: 50px;
}

@media (max-width: 1000px) {
    .explain {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 500px) {
    .finishing {
        grid-template-columns: 1fr;
    }
}

.personalinfo{
    margin-left: 250px;
    margin-right: 250px;
    h5{
        font-size: 25px;
        text-align: center;
        color: $color7;
    }
    h6{
        font-size: 15px;
        color: $color6;
    }
    input{
        margin-bottom: 15px;
    }
}

@media (max-width: 750px) {
    .personalinfo {
        margin-left: 15px;
        margin-right: 15px;
    }
}