@font-face {
  font-family: FTROUNDA;
  src: url(./FONT/FTROUNDA.TTF);
}
@font-face {
  font-family: INDUSTRIAL;
  src: url(./FONT/babylon-industrial-2.TTF);
}
@font-face {
  font-family: ROLAND;
  src: url(./FONT/RollandinEmilie.ttf);
}
@font-face {
  font-family: PAINT;
  src: url(./FONT/vtks\ ragwaris.ttf);
}
@font-face {
  font-family: ARBELOIDES;
  src: url(./FONT/lynx.ttf);
}
@font-face {
  font-family: METAL;
  src: url(./FONT/MessingLettern.ttf);
}
@font-face {
  font-family: NOVA;
  src: url(./FONT/NovaRound-Book.ttf);
}
@font-face {
  font-family: BISKIT;
  src: url(./FONT/Biysk.ttf);
}
@font-face {
  font-family: NAUTICA;
  src: url(./FONT/NauticaRounded-Regular.ttf);
}
* {
  font-family: NAUTICA;
}

.navbar-toggler {
  padding: 0px !important;
  padding-right: 10px;
}

.container-fluid {
  padding-right: 10px !important;
}

.navbar {
  background-color: #152231;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 30px;
}

.navbar-collapse.collapse.show {
  padding-bottom: 15px;
}

.navbar-brand {
  font-family: FTROUNDA !important;
  color: #fff !important;
  font-size: 80px;
  padding-top: 5px !important;
  padding-bottom: 0px !important;
  margin-left: 40px;
}

a.navbar-brand:hover {
  color: #ff59bf !important;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: #ff59bf !important;
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

.jumbotron {
  background-image: url(./MULTIMEDIA/INICIO/tabata.png);
  background-position: center right;
  background-size: cover;
  align-content: top;
  height: 100vh;
  color: #152231;
}

.nleft1 {
  margin-top: 100px;
}

h1 {
  font-family: BISKIT;
  margin-left: 8px;
  margin-top: 10px;
  font-size: 100px;
  color: #ff59bf;
}

@media (max-width: 750px) {
  .h1, h1 {
    font-size: 40px !important;
  }
}
.jumbotron p {
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  color: #59ff00;
  text-align: left;
}

@media (max-width: 750px) {
  .jumbotron p {
    font-size: 18px !important;
  }
}
.left1 {
  opacity: 0;
  transform: translateX(100px);
  animation: slideIn 2s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
h2 {
  font-family: BISKIT;
  font-size: 30px;
  color: #fff;
  background-color: #2b3f54;
  padding: 10px;
  padding-left: 50px;
  margin-bottom: 0px;
}

.nleft {
  background-image: url(./MULTIMEDIA/products/malon1.png);
  filter: grayscale(100%);
  background-size: cover;
  background-position: center;
  height: 500px;
}

h3 {
  color: #ff59bf;
  font-family: BISKIT;
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
}

.nright {
  align-content: center;
  background-color: #2b3f54;
}

.nright p {
  text-align: center;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

article {
  height: 400px;
  text-align: right;
}

.contenedor {
  height: 750px;
  width: 100%;
  background-color: #ff59bf;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 500px) {
  .contenedor {
    grid-template-columns: 1fr;
  }
}
.item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85%;
  transition: all 0.9s;
}

.item1 {
  background-color: #ff73c9;
  background-image: url(./MULTIMEDIA/fotosaccesorios/img1.png);
}

.item2 {
  background-color: #ff8cd3;
  background-image: url(./MULTIMEDIA/fotosaccesorios/img2.png);
}

.item3 {
  background-color: #ffa6dc;
  background-image: url(./MULTIMEDIA/fotosaccesorios/img3.png);
}

.item4 {
  background-color: #9bff66;
  background-image: url(./MULTIMEDIA/fotosaccesorios/img4.png);
}

.item5 {
  background-color: #acff80;
  background-image: url(./MULTIMEDIA/fotosaccesorios/img5.png);
}

.item6 {
  background-color: #bdff99;
  background-image: url(./MULTIMEDIA/fotosaccesorios/img6.png);
}

.item:hover {
  background-size: 125%;
}

.item[style*=background-image] {
  border-radius: 25px;
}

article.foto1 {
  background-image: url(./MULTIMEDIA/products/2.png);
  background-size: cover;
  background-position: center;
}

article.foto1:hover {
  border-color: #83f9ff;
}

.foto1 i {
  background-color: #ff59bf;
  margin-top: 250px;
  padding: 10px;
  border-radius: 25px;
  margin-right: 25px;
}

article.foto2 {
  background-image: url(./MULTIMEDIA/products/1.png);
  background-size: cover;
  background-position: center;
}

.foto2 i {
  background-color: #ff59bf;
  margin-top: 250px;
  padding: 10px;
  border-radius: 25px;
  margin-right: 25px;
}

article.foto3 {
  background-image: url(./MULTIMEDIA/products/3.png);
  background-size: cover;
  background-position: center;
}

article.foto3:hover {
  border-color: #83f9ff;
}

.foto3 i {
  background-color: #ff59bf;
  margin-top: 250px;
  padding: 10px;
  border-radius: 25px;
  margin-right: 25px;
}

h4 {
  font-size: 30px;
  padding-top: 20px;
  /* font-family: BISKIT; */
  color: #fff;
  text-align: left;
  padding-left: 35px;
}

article i {
  color: white;
  margin-top: 180px;
}

article i:hover {
  background-color: #83f9ff;
}

article.foto4 {
  background-image: url(./MULTIMEDIA/galery/cocoykevin2.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

article.foto4:hover {
  filter: none;
}

article.foto5 {
  background-image: url(./MULTIMEDIA/galery/cocoykevin3.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

article.foto5:hover {
  filter: none;
  border-color: #83f9ff;
}

article.foto6 {
  background-image: url(./MULTIMEDIA/galery/cocoykevin4.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

article.foto6:hover {
  filter: none;
}

article.foto7 {
  background-image: url(./MULTIMEDIA/galery/cocoykevin6.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

article.foto7:hover {
  filter: none;
  border-color: #83f9ff;
}

article.foto8 {
  background-image: url(./MULTIMEDIA/galery/kevin2.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

article.foto8:hover {
  filter: none;
}

article.foto9 {
  background-image: url(./MULTIMEDIA/galery/KEVIND.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

article.foto9:hover {
  filter: none;
  border-color: #83f9ff;
}

/* FOOTER */
footer {
  background-color: #152231;
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding: 10px;
}

footer {
  padding-top: 20px;
}

footer p {
  font-size: 10px;
}

footer i {
  color: #fff;
}

footer i:hover {
  color: #ff59bf;
}

.redes a {
  text-decoration: none;
}

/* PDODUCTS */
.text1 {
  height: auto;
  align-content: center;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-family: NAUTICA;
  font-size: 30px;
  color: #59ff00;
  background-color: #456384;
}

.text1 p {
  margin-bottom: 0px;
  font-size: 25px;
}

p.p1 {
  font-size: 15px;
  text-align: left;
  color: #fff;
}

.text2 {
  height: auto;
  align-content: center;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-family: NAUTICA;
  font-size: 30px;
  color: #59ff00;
  background-color: #456384;
}

.text2 p {
  margin-bottom: 0px;
  font-size: 25px;
}

p.p2 {
  font-size: 15px;
  text-align: left;
  padding-right: 40px;
  color: #fff;
}

.text3 {
  height: auto;
  align-content: center;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-family: NAUTICA;
  font-size: 30px;
  color: #59ff00;
  background-color: #456384;
}

.text3 p {
  margin-bottom: 0px;
  font-size: 25px;
}

p.p3 {
  font-size: 15px;
  text-align: left;
  padding-right: 40px;
  color: #fff;
}

.fa-solid.fa-cart-shopping {
  font-size: 50px;
}

.fa-solid.fa-cart-shopping:hover {
  background-color: rgba(255, 89, 191, 0) !important;
  color: #ff59bf !important;
}

.photo1 {
  background-image: url(./MULTIMEDIA/products/malon1.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

.photo1:hover {
  filter: none;
}

.product1 {
  color: #fff;
}

.photo1 i {
  margin-top: 200px;
  margin-right: 30px;
}

.photo2 {
  background-image: url(./MULTIMEDIA/products/malon4.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

.photo2 i {
  margin-top: 200px;
  border: none;
  margin-right: 30px;
}

.photo2:hover {
  filter: none;
}

.photo3 {
  background-image: url(./MULTIMEDIA/products/malon7.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

.photo3 i {
  margin-top: 200px;
  margin-right: 30px;
}

.photo3:hover {
  filter: none;
}

.photo4 {
  background-image: url(./MULTIMEDIA/products/malon2.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

.photo4 i {
  margin-top: 200px;
  margin-right: 30px;
}

.photo4:hover {
  filter: none;
}

.photo5 {
  background-image: url(./MULTIMEDIA/products/malon5.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

.photo5 i {
  margin-top: 200px;
  margin-right: 30px;
}

.photo5:hover {
  filter: none;
}

.photo6 {
  background-image: url(./MULTIMEDIA/products/malon9.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

.photo6 i {
  margin-top: 200px;
  margin-right: 30px;
}

.photo6:hover {
  filter: none;
}

.photo7 {
  background-image: url(./MULTIMEDIA/products/malon3.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

.photo7 i {
  margin-top: 200px;
  margin-right: 30px;
}

.photo7:hover {
  filter: none;
}

.photo8 {
  background-image: url(./MULTIMEDIA/products/malon6.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

.photo8 i {
  margin-top: 200px;
  margin-right: 30px;
}

.photo8:hover {
  filter: none;
}

.photo9 {
  background-image: url(./MULTIMEDIA/products/malon8.png);
  background-position: cente r;
  background-size: cover;
  filter: grayscale(100%);
}

.photo9 i {
  margin-top: 200px;
  margin-right: 30px;
}

.photo9:hover {
  filter: none;
}

/* GALERY */
.carousel-item {
  height: 500px;
}

.galery1 {
  background-image: url(./MULTIMEDIA/galery/cocoykevin6.png);
  background-position: center top 50%;
  background-size: cover;
  height: 500px;
  width: 100% !important;
}

.galery2 {
  background-image: url(./MULTIMEDIA/galery/cocoykevin.png);
  background-position: center bottom 60%;
  background-size: cover;
  height: 500px;
  width: 100% !important;
}

.galery3 {
  background-image: url(./MULTIMEDIA/galery/cocoykevin2.png);
  background-position: center bottom 65%;
  background-size: cover;
  height: 500px;
  width: 100% !important;
}

.galery4 {
  background-image: url(./MULTIMEDIA/galery/cocoykevin3.png);
  background-position: center top 10%;
  background-size: cover;
  height: 500px;
  width: 100% !important;
}

.galery5 {
  background-image: url(./MULTIMEDIA/galery/cocoykevin4.png);
  background-position: center top 47%;
  background-size: cover;
  height: 500px;
  width: 100% !important;
}

.galery6 {
  background-image: url(./MULTIMEDIA/galery/COCO22.png);
  background-position: center bottom 20%;
  background-size: cover;
  height: 500px;
  width: 100% !important;
}

.galery7 {
  background-image: url(./MULTIMEDIA/galery/byn8.jpg);
  background-position: center bottom 10%;
  background-size: cover;
  height: 500px;
  width: 100% !important;
}

.galery8 {
  background-image: url(./MULTIMEDIA/galery/byn7.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100% !important;
}

.galery9 {
  background-image: url(./MULTIMEDIA/galery/byn6.jpg);
  background-position: center bottom 20%;
  background-size: cover;
  height: 500px;
  width: 100% !important;
}

.galery10 {
  background-image: url(./MULTIMEDIA/galery/byn4.jpg);
  background-position: center top 80%;
  background-size: cover;
  height: 500px;
  width: 100% !important;
}

.galery11 {
  background-image: url(./MULTIMEDIA/galery/byn1.jpg);
  background-position: center top 60%;
  background-size: cover;
  height: 500px;
  width: 100% !important;
}

.galery12 {
  background-image: url(./MULTIMEDIA/galery/byn2.jpg);
  background-position: center bottom 40%;
  background-size: cover;
  height: 500px;
  width: 100% !important;
}

/* CONTACT */
form {
  height: 450px;
  align-content: center;
  padding-left: 1.5em;
  margin-right: 25px;
}

.form-check-label {
  padding-left: 24px;
}

.form-check-label label {
  padding-left: 50px;
}

.label1 {
  padding-left: 0px;
}

/* PURCHASE */
.nleft2 {
  background-image: url(./MULTIMEDIA/products/malon1.png);
  background-position: center;
  background-size: cover;
  height: 650px;
  filter: grayscale(100%);
}

.nright1 {
  height: 650px;
  align-content: center;
  padding-right: 25px;
}

h5 {
  font-size: 40px;
  font-family: BISKIT;
  color: #2b3f54;
}

h6 {
  font-size: 20px;
  font-family: BISKIT;
  color: #2b3f54;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .form-check p{
    text-align: left;
    margin: 0px;
    padding: 0px;
    color: black;
    font-size: 15px;
    margin-left: 0px !important;
    width: ;
} */
.form-check .form-check-input {
  margin-left: 8px;
}

.form-check label {
  font-size: 15px;
}

.form-check-input:checked {
  background-color: #ff59bf !important;
  border-color: #59ff00;
}

.btn-primary {
  margin-top: 15px;
  margin-bottom: 10px;
}

.btn-primary:hover {
  background-color: #ff59bf;
  border-color: #59ff00;
}

/* SHIPPING */
.nright2 {
  align-content: center;
  height: 750px;
}

.nleft3 {
  background-image: url(./MULTIMEDIA/products/malon1.png);
  background-position: center;
  background-size: cover;
  height: 750px;
  filter: grayscale(100%);
}

.form-check {
  margin-right: 25px;
}

/* PAYMENTS */
.nleft4 {
  background-image: url(./MULTIMEDIA/products/malon1.png);
  background-position: center;
  background-size: cover;
  height: 600px;
  filter: grayscale(100%);
}

.nright3 {
  align-content: center;
  height: 600px;
}

/* THANK YOU */
h5.thankyou {
  color: #ff59bf;
}

.nright4 {
  height: 400px;
  align-content: center;
}

/* SASS *//*# sourceMappingURL=styles.css.map */